###> symfony/framework-bundle ###
/.idea
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
### VAR/VENDOR ###
/var/
/vendor/
/storage/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> frontend ###
node_modules/
.vscode/
.DS_Store
###< fronted ###